/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';
@import '../server/views/weekly-nerd.css';
@import '../server/views/weekly-nerd-detail.css';
@import '../server/views/meesterproef.css';

/* component styling */
@import '../server/components/card/card.css';

body {
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}