header {
  background-color: #f8f8f8;
  padding: 10px 20px;

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
}

main {
  height: fit-content;
  width: calc(100% - 2rem);
}

@media (max-width: 760px) {
  nav ul {
    flex-direction: column;
  }

  .blog-image {
      max-width: 100%;
    }
}

.inleiding{
  max-width: 1440px;
  color: rgb(255, 255, 255);

  h1 {
    margin: 1rem 0;
  }

  p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

footer {
  padding: 1rem;
}
