{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="blog-wrapper">
    <div class="blog-content">
      <h1>{{ title }}</h1>
      <p><strong>{{ inleiding }}</strong></p>

      {% for section in content %}
        <h2>{{ section.titel }}</h2>
        {% for alinea in section.alinea %}
          <p>{{ alinea }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
