{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="blog-wrapper">
    <div class="blog-content">
      <h1>{{ hackathon.title }}</h1>
      <p><strong>{{ hackathon.inleiding }}</strong></p>

      {% for section in hackathon.content %}
        <h2>{{ section.titel }}</h2>
        {% for alinea in section.alinea %}
          <p>{{ alinea }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
