{% layout "server/layouts/base.liquid" %}

{% block content %}
  <h1>Welkom op de website!</h1>
  <div class="main-menu">
    <ul>
      <li><a href="/weekly-nerd">Weekly Nerd</a></li>
      <li><a href="/hackaton">Hackaton</a></li>
      <li><a href="/reflectie-leerdoelen">Reflectie en Leerdoelen</a></li>
    </ul>
  </div>
{% endblock %}
