{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="inleiding">
  <h1>Quy's Weekly Nerd blog</h1>
  <p>Welkom op mijn blog waar ik schrijf over de Weekly Nerds op de minor Web Development, uitkomsten van de hackaton en
    mijn prsoonlijke leerdoelen. Hieronder vind je een overzicht van de onderwerpen:</p>
</div>
<div class="main-menu">
  <ul>
    <li><a href="/weekly-nerd">Weekly Nerds</a></li>
    <li><a href="/hackaton">Hackaton</a></li>
    <li><a href="/reflectie-leerdoelen">Reflectie en Leerdoelen</a></li>
  </ul>
</div>
{% endblock %}