{% layout "server/layouts/base.liquid" %}

{% block content %}
  <ul class="grid">
    {% for blog in blogs %}
      <li>
        <a href="/blog/{{ blog.id }}">
          {% render 'server/components/card/card.liquid', blog: blog %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
