{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="blog-wrapper">
    <div class="blog-content">
      <h1>{{ meesterproef.title }}</h1>
      <p><strong>{{ meesterproef.inleiding }}</strong></p>
    </div>
  </div>
{% endblock %}
