{% layout "server/layouts/base.liquid" %}

{% block content %}
<div class="blog-wrapper">
  <h1>{{ title }}</h1>

    {% for doel in leerdoelen %}
      <h2>{{ doel.title }}</h2>
        <div class="blog-content">
          {% for section in doel.content %}
            <div class="blog-section">
              <h3>{{ section.titel }}</h3>
              {% for alinea in section.alinea %}
                <p>{{ alinea }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
    {% endfor %}
  </div>
{% endblock %}
